div #ajaxContent {
  background-color: #3e8bc5;
  padding: 2em;
}

.hide {
  display: none !important;
}

.fade {
  -webkit-transition-duration: .50s;
     -moz-transition-duration: .50s;
      -ms-transition-duration: .50s;
       -o-transition-duration: .50s;
          transition-duration: .50s;
}

/* ---------------------------------------------------------
Images
---------------------------------------------------------*/

img{
  max-width: 100%;
  height: auto;
  width: 100%\9; /* ie8 */
  display:block;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------------------------------
Homepage
---------------------------------------------------------*/

.homepage h1 {
  text-align: center;
  margin: 0px 0px 30px 0px;
  line-height: 1em;
}

.homepage h1 .main_line{
  font-size: .85em;
  font-weight: 700;
}

.homepage h1 .minor_line{
  font-size: .75em;
  font-weight: 400;
}

.homepage h2 {
  text-align: center;
  font-size: 1.85em;
  font-weight: 700;
  margin: 20px 0px 20px 0px
}

.homepage h3 {
  font-size: 1.4em;
  font-weight: 700;
}

.homepage h3.section_header {
  background-color: #5cc2fe;
  color: #212529;
  padding: 10px 20px 10px 20px;
  border: solid 1px #e6e6e6;
  margin-bottom: 20px;
}

.homepage h3.category_header {
  background-color: #f7f6f6;
  color: rgb(84, 84, 84);
  padding: 10px 20px 10px 20px;
  border: solid 1px #e6e6e6;
  margin-bottom: 20px;
}

.homepage h4 {
  font-size: 1.2em;
  font-weight: normal;
}

.homepage h4 .card_header {
  font-size: 1.2em;
}

.homepage p{
  font-size: 1.1em;
}

.homepage .blurb{
  margin-bottom: 1.5em;
}


/* ---------------------------------------------------------
Basic page styling
---------------------------------------------------------*/
/* Not required for template or sticky footer method. */

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px !important;
  color: #505050;
  font-family: 'Muli', sans-serif;
}

#MainBody > .container {
  padding: 20px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

a {
  color: #3e8bc5
  ;
}

a:hover {
  color: #91C5F2;
}

.container {
  max-width: 940px;
}

.content {
  font-size: 1.0em;
}

.jump-target {
  position: relative;
  display: block;
  top: -70px;
}

.resources {
  border: solid 1px #ccc;
}

.resources .resources-header {
  padding: .1em .5em .1em .5em;
  background-color: #eaeaed;
  font-size: 1.25em;
}

.resources .resources-download-instructions {
  padding: .5em;  
  font-size: 1.00em;
}

.resources .resources-content {
  padding: .5em;
  margin-bottom: 1em;
}
.resources .resources-content li {
  list-style: none;
}
