/* ---------------------------------------------------------
/* Sticky footer styles
---------------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px !important;
    color: #505050;
    font-family: 'Muli', sans-serif;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    font-size: 15px;
    background-color: whitesmoke;
    padding-top: 0rem;
    padding-bottom: 0rem;
    
  }